@font-face {
    font-family: 'BonaNova';
    src: url(Fontes/BonaNova-Regular.ttf);
}

@font-face {
    font-family: 'Bona-Bold';
    src: url(Fontes/BonaNova-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(Fontes/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Monda';
    src: url(Fontes/fontes/Monda-Regular.ttf);
}

@font-face {
    font-family: 'Monda-Bold';
    src: url(Fontes/fontes/Monda-Bold.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(Fontes/Poppins-Light.ttf);
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EBE2D2;
}

.border {
    border: 2px solid red;
}

/* usar para entender tamanho dos elementos */

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    background-color: #B19877;
}

.sidebarMarrom {
    background-color: #584634;
    height: 233px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarMarrom p {
    color: white;
    font-family: 'Montserrat';
    margin-top: 15px;
    font-size: 20px
}

.imagemPerfil {
    width: 170px;
}

.sidebar p {
    text-align: center;
}

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: 'Montserrat';
    color: white;
    cursor: pointer;
    /* pointer serve para simbolizar que é um link */
    text-align: left;
}

.sidebar button>span {
    /* dentro de um botao, diretamente no Filho que tenha um span */
    display: inline-flex;
    align-items: center;
    gap: 12px;
    /* espaçamento entre o icone e o texto */
    height: 48px;
    padding: 0 16px 0 23px;
    /* o padding alinhou os itens no centro */
    border-radius: 25px;
    transition: 0.2s;
    /* transição quando passa o mouse no botão */
    margin-left: 15px;
    /*afastar o botão da lateral esquerda */
    margin-top: 15px;
}

/*essa classe serve para quando passar o mouse em cima, dar um fundo diferente  */
/* aqui embaixo significa: dentro do botão, temos o span */
.sidebar button:hover>span {
    background-color: #d2bc9f;
}


.main {
    margin-left: 240px;
    /* o tamanho da sidebar é 240px, logo, 240px de margem a esquerda*/
    overflow: hidden;
}

.barraBoasVindas {
    background-color: #735944;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.boxTexto>span {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
    padding: 20px;

}

.BoxNovaEntrada {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 90px;
    margin-top: 70px;
   
}

.caixaNovaEntrada {
    background-color: #CBAB8B;
    width: 900px;
    height: 800px;
    margin-bottom: 40px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.boxTituloNovaEntrada {
    width: 100%;
    height: 80px;
    background-color: #5C4430;
}

.boxTituloNovaEntrada>span {
    color: white;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    line-height: normal;
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.tituloDiario {
    margin-left: 40px;
    margin-top: 20px;
}

.tituloDiario>span {
    color: white;
    font-family: 'Montserrat';
    font-size: 25px;
}

.caixaConteudo {
    margin-left: 40px;
    margin-top: 20px;
}

.metricasPerfis {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.boxPerfil {
    background-color: #F2E4D1;
    border-radius: 20px;
    width: 180px;
    height: 80px;
}

.boxPerfil>span {    
    font-family: "Monda";
    display: flex;
    justify-content: center;
    margin-top: 5px;

}

.boxPerfil .parametros>span {
    
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.seuPerfil {
    font-family: "Bona-Bold";
    font-size: 35px;
}

.descricaoPerfil {
    font-family: "Poppins";  
}

.nomePerfil {
    font-size: 27px;
    font-family: "Monda";
}

.boxParametrosDiarios {
    background-color: #f4e3cd;
    border-radius: 10px;
    width: 400px;
    height: 80px;
    margin: 30px;
}

.boxParametrosDiarios > span {
    /* color: white; */
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.parametrosDiarios {
    /* color: white; */
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    margin-top: 09px;

}
.TituloQuiz {

    margin-left: 30px;
    margin-top: 40px;
}

.quantidadeDiarios {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deslogar > span {   
     display: flex;
     align-items: flex-end;
     height: 48px;
     padding: 0 16px 0 23px;
     /* o padding alinhou os itens no centro */  
     
}

.caixaDeslogar {
    cursor: pointer;
    color: white;
    font-family: 'Montserrat';
    margin-left: 70px;     
    margin-top: 188px;
    padding: 0 16px 0 23px;

}